* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.navigation_bar {
    /*/text-decoration: none;/*/
    list-style: none;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    height: 150px;
    background: lightgrey;
}

.navigation_bar ul {
    float: right;
    margin-right: 100px;
}

.navigation_bar ul li {

    display: inline-block;
    line-height: 150px;

}

.navigation_bar ul li a {
    padding: 8px 17px;
    font-size: 20px;
    border: 1px solid grey;
    margin: -2px;
    background-color: white;
}

.home_body {
    background-color: gray;
    height: 700px;
}

.home_body h1 {
    padding-top: 80px;
    margin-left: 150px;
    padding-right: 60px;
    font-size: 50px;
}

.home_body h1 p {
    
}
.home_body p {
    
    padding-left: 150px;
    padding-right: 50px;
    
    font-size: 19px;
}

.home_body p img {
    float: right;
    margin-left: 100px;
    margin-right: 100px;
    background-size: contain;
}

.information {
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

.box {
    position: absolute;
    padding: 40px;
    margin-left: 200px;
    border-radius: 40px;
}

.information body {
    font-family: 'Poppins';
}
  
.information h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}
  
.information h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #860707;
}
  
.information p {
    margin-top: 10px;
}
  
.information ul {
    list-style-type: disc;
    padding-left: 28px;
  }

.information2 {
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}


.information2 body {
    font-family: 'Poppins';
}
  
.information2 h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
}
  
.information2 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #860707;
}
  
.information2 p {
    margin-top: 10px;
}
  
.information2 ul {
    list-style-type: disc;
    padding-left: 28px;
  }

.go-back-button {
    background-color: #000;
    color: #860707;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

}


.copyright p {
    position: absolute;
    margin-top: 2100px;
}


.nav-verical {
    position: absolute;
    left: 0;
    
  }
  
.nav-verical h1 {
    margin-top: 100px;
    margin-left: 60px;
}

.nav-verical table {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
    text-decoration: none;
}

.nav-verical tr a {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.info_page1 {
    text-decoration: none;

    position: absolute;
    margin-left: 450px;
    margin-right: 80px;
    margin-top: 50px;
}

.info1 {
    text-decoration: none;
}
.info1 h1 {
    text-decoration: none;
    text-align: center;
}

.info1 h2 {
    margin-top: 40px;
}

.info1 p img {
    margin-left: 200px;
}

.info2 {
    margin-top: 60px;
}

.info2 p img {
    margin-left: 200px;
}

.info3 {
    margin-top: 60px;

}

.info3 p img {
    margin-left: 200px;
}




* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.navigation_bar {
    /*/text-decoration: none;/*/
    list-style: none;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    height: 150px;
    background: lightgrey;
}

.navigation_bar ul {
    float: right;
    margin-right: 100px;
}

.navigation_bar ul li {

    display: inline-block;
    line-height: 150px;

}

.navigation_bar ul li a {
    padding: 8px 17px;
    font-size: 20px;
    border: 1px solid grey;
    margin: -2px;
    background-color: white;
}

/* PAGE 1 HTML */

* {
    

}

.copyright p {
    position: absolute;
    margin-top: 2100px;
}


.nav-verical {
    position: absolute;
    left: 0;
    
  }
  
.nav-verical h1 {
    margin-top: 100px;
    margin-left: 60px;
}

.nav-verical table {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
    text-decoration: none;
}

.nav-verical tr a {
    color: black;
    text-decoration: none;
    font-size: larger;
}

.info_page1 {
    text-decoration: none;

    position: absolute;
    margin-left: 450px;
    margin-right: 80px;
    margin-top: 50px;
}

.info1 {
    text-decoration: none;
}
.info1 h1 {
    text-decoration: none;
    text-align: center;
}

.info1 h2 {
    margin-top: 40px;
}

.info1 p img {
    margin-left: 110px;
}

.info2 {
    margin-top: 60px;
}

.info2 p img {
    margin-left: 110px;
}

.info3 {
    margin-top: 60px;

}

.info3 p img {
    margin-left: 110px;
}




* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.navigation_bar1 {
    /*/text-decoration: none;/*/
    list-style: none;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    height: 150px;
    background: lightgrey;
}

.navigation_bar1 ul {
    float: right;
    margin-right: 100px;
}

.navigation_bar1 ul li {

    display: inline-block;
    line-height: 150px;

}

.navigation_bar1 ul li a {
    padding: 8px 17px;
    font-size: 20px;
    border: 1px solid grey;
    margin: -2px;
    background-color: white;
}










